<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deliveryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".baseApploction"
        android:allowBackup="true"
        android:icon="@drawable/ic_storeicon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryApp">
        <activity
            android:name=".Maps.MapBillConferimation"
            android:exported="false" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoknlXPvctgcDrCPiiTgX8KHlNJM7cuNc" />

        <activity
            android:name=".Maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Waclome.AboutMe"
            android:exported="false" />
        <activity
            android:name=".ProducteControl.BillView.BallViewr"
            android:exported="false" />
        <activity
            android:name=".ProducteControl.ProducteViewr"
            android:exported="false" />
        <activity
            android:name=".Login.LoginPage"
            android:exported="false" />
        <activity
            android:name=".ProducteControl.AddPrdocte"
            android:exported="false" />
        <activity
            android:name=".Waclome.WaclomePage"
            android:exported="false" />
        <activity
            android:name=".Signin.SignIN"
            android:exported="false" />
        <activity
            android:name=".SplashPage.SpalshView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>